@charset "utf-8";
/* CSS Document */

body {
  	background-color: beige;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 40px;
}

h {
	text-align: center;
	font-size: 50px;
	font-family: "averia-libre"
}

.gamebuttons {
	text-align: center;
	font-size: 80px;
	background-color: white
}
